* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:url('../images/background.jpg');
}

.mainContainer {
  width:80%;
  margin: 0 auto;
}

.title{
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-style: italic;
  margin: 50px auto;
  color:white;
  align-items: center;
  text-align: center;
}

.quote {
  border-radius: 10px;
  padding:10px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  text-align: center;
  color: rgb(52, 73, 94);
}

.quote h2 {
  color:white;
  margin-top: 20px;
}

.button {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  width: 50%;
  background-color: rgb(0, 179, 144);
  height: 45px;
  color: white;
  border-radius: 10px;
  margin: 15px 25%;
  text-transform: uppercase;
  padding: 10px;
  font-size: 1.5em;
  min-width:270px;
}
